html body{
    margin: 0px;
}
.background{
    background-image: url(/Img/hero_1.jpg.webp);
    background-color: gray;
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 3%;
}

nav div {
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        height: 70px;
        position: relative;
        z-index: 20;
}
    
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    
  
}
.head-1 h3 {
    color: #fff;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
}
    
.head-2 h3 {
    padding-right: 25px;
    font-family: "Work Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    font-weight: lighter;
    color: #ffffff94;
    cursor: pointer;
}
    
.head-2 :hover {
    color: #fff;
}
    
a {
    text-decoration: none;
}
    
.head-1 h3 {
    color: #fff;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
}
    
.centerpage {
    text-align: center;
    color: #fff;
    position: relative;
}
.blankspace {
    width: 100%;
    background-color: #000;
    margin-bottom: 200px;
}
    
.centerpage h1 {
    color: #fff;
    font-weight: 900;
    font-size: 4rem;
    padding-bottom: 300px;
}
    
.centerpage h2 {
    font-size: 17px;
    color: #fff;
    margin-right: 10px;
    word-spacing: 10px;
    margin-top: 10px;
    font-weight: lighter;
    margin-bottom: -30px;
}
    
    
    
.dropdown{
background-color: rgb(0, 0, 0);
width: 11%;
color: white;
position: absolute;
margin-left: 62%;
margin-top: -200px;
z-index: 999;
display: none;
border-radius: 10px;
list-style: none;
cursor: pointer;
position: fixed;
}
    
.dropdown ul{
    list-style: none;
    color: white;
}
    
.dropdown li {
    padding-top: 3px;
    padding-bottom: 5px;
}
    
.dropdown a {
    color: inherit;
    text-decoration: none;
}
    
.dropdown:hover{
    color: red;
}
    
.drop-move{
    display: flex;
    text-align: center;
    justify-content: center;
}
    
#ikona{
    margin-top: 15px;
    margin-right: -150px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.head-2-d {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(10px); 
    display: none;  
}
    
.head-2-d h3{
    color: black;
    width: 100%;
    margin: 5px;
    padding: 16px 0;
}
#X {
    align-items: center;
    font-size: 30px;
}
    
.head-2-d:hover{
    color: red;
}
.Rooms-Dropdown ul{
    list-style: none;
    color: white;
}
    
.Rooms-Dropdown li {
    padding-top: 5px;
    padding-bottom: 10px;
}
    
.Rooms-Dropdown a {
    color: inherit;
    text-decoration: none;
}
    
.Rooms-Dropdown {
    width: 8.5%;
    position: absolute;
    margin-left: 72%;
    margin-top: -100px;
    background-color: black;
    border-radius: 20px;
    z-index: 999;
    border-radius: 10px;
    display: none;
    position:fixed;
}
.Rooms-Dropdown :hover{
    color: red;
}

.about-us-vid img{
   width: 500px;
   height: 400px;
   cursor: pointer;
}

.about-us-vid{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.about-us-vid h1{
  font-weight: lighter;
  font-size: 40px;
  padding-bottom: 15px;
}
.about-us-vid span{
    border-bottom: 3px black solid;
}

.about-us-vid p {
    color: rgb(153, 149, 149);
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 15px;
}
.about-us-vid h3 {
    color: red;
    font-weight: lighter;
    font-size: 18.72px;
    cursor: pointer;
}
.about-inner-1{
    text-align: center;
}

#stafi{
    margin-top: 100px;
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    padding-bottom: 40px;
}
#stafi span {
    border-bottom: 2px solid black;
}
.hotelstaff img{
    height: 350px;
    width: 360px;
    
}

.hotelstaff {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}
.hotelstaff-inner-1{
    margin-right: 35px;
    border: 1px rgb(177, 181, 184) solid;
}
.hotelstaff-inner-2{
    border: 1px rgb(177, 181, 184) solid;
}
.hotelstaff-inner-3{
    margin-left: 35px;
    border: 1px rgb(177, 181, 184) solid;
}
.hotelstaff h1{
    color: #000;
    font-weight: 500;
    font-size: 25px;
}
.hotelstaff p {
    color: rgb(153, 149, 149);
    font-size: 17px;
}
.hotelstaff h2 {
    font-weight: lighter;
    font-size:17px;
    color: red;
    cursor: pointer;
}
#Featheader span { 
    border-bottom: 2px solid black;
}
#Featheader {
    color: #000;
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 60px;
    padding-top:150px;
    text-align: center;
}
.features {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.features-2{
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-bottom: 7%;
}
#minibari{
    padding-left: 7%;
}
#pije{
    padding-left: 30px;
}
#makina{
    padding-left: 30px;
}

.navicolor.sticky {
    padding: 5px 50px;
    background-color: #fff;
}
.navicolor.sticky h3 {
    color: #000;
}
.navicolor.sticky h3:hover{
    color: red;
}

.footer {
    margin-top: 80px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.85);
}

.rreshti1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
h4{
    color: white;
}
.lista{
    color: #fff;
    cursor: pointer;
}
.lista :hover{
    color: gray;
}
.footer h3 {
    color: white;
    opacity: 0.7;
    text-align: left;
}

.footer h2 {
    color: white;
    opacity: 0.7;
}

.about{
    display: block;
    margin-top: 30px;
}
button {
    background-color: red;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    height: 35px;
    width: 150px;
}

.fa {
    flex-direction: row;
    padding-left: 20px;
    padding-top: 50px;
    justify-content: space-evenly;
    color: white;
    cursor: pointer;
}

.rreshti2 {
    
    justify-content: center;
    padding-top: 100px;
}
.ikonat h3 {
    margin-left: 30px;
} 